.body-container {
    position: relative;
    width: 100%;
    height: auto;
    top: 500px;
    background-color: #F3F3F3;
}
.body-container > h1 {
    font-weight: 550;
    font-size: 18px;
    /* border: 1px solid red; */
    display: flex;
    margin-left: 10.4vw;
    margin-top: 40px;
    position: relative;
    top: 40px;
    /* z-index: 99999; */
}
.body-container h1 img {
    width: 23px;
    height: 23px;
    margin-right: 17px;
}

/* HOME component styles */
.home-c {
    margin-left: 100px;
    width: 270px;
    height: 406px;
    position: relative;
    margin-top: 40px;
}
.home-c .upper {
    position: relative;
    height: 50%;
    background: url('../../../imgs/homes/i1.jpg');
    background-size: cover;
    cursor: pointer;
}

/* share and save icons +++++ */
.home-c .upper .share,
.home-c .upper .save {
    display: none;
    position: absolute;
    top: 7px;
    right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: rgba(158,179,197,0.8);
    cursor: pointer;
}
.home-c .upper:hover .share,
.home-c .upper:hover .save {
    display: block;
}
.home-c .upper .share {
    right: 13px;
}
.home-c .upper .share .share-svg {
    position: relative;
}
.home-c .upper .share:hover .share-svg:after {
    content: 'Distribuie anunțul';
    position: absolute;
    top: 30px;
    left: -30px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    width: 95px;
    height: 12px;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 11px;
    color: #fff;
    background-color: #6D6D6D;
}

.home-c .upper .share .share-svg svg {
    width:19px;
    height: 19px;
    margin-left: 6.4px;
    margin-top: 7px;
    
}
.home-c .upper .share .share-svg:hover svg path {
    fill: rgba(255, 255, 255, 0.8);

}
.home-c .upper .save .save-svg {
    position: relative;
}
.home-c .upper .save:hover .save-svg:after {
    content: 'Salvează anunțul';
    position: absolute;
    top: 40.8px;
    left: -30px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    width: 95px;
    height: 12px;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 11px;
    color: #fff;
    background-color: #6D6D6D;
} 
.home-c .upper .save .save-svg svg {
    width:20px;
    height: 20px;  
    position: absolute;
    left: 8px;
    top: 6px;
}

.home-c .upper .save .save-svg svg:nth-child(2) {
    position: absolute;
    display: none;
}
.home-c .upper .save .save-svg:hover svg:nth-child(2) {
    display: block !important;
}
.home-c .upper .share {
    right: 50px;
}
/* ----- */

/* verified phone icon styles */
.verified_phone {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #fff;
    bottom: 29px;
    left: 6px;
}
.verified_phone svg {
    /* display: none; */
    width: 23px;
    height: 22px;
    margin-top: 6px;
    margin-left: 6.4px;
}

/* sale/tenancy icon styles */
.sale {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #4caf50;
    font-size: 12px;
    width: 74px;
    padding: 3px 10px;
    text-align: center;
    color: #fff;
}


/* lower part styles */
.home-c .lower {
    position: relative;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.home-c .lower h1 {
    height: 30px;
    width: 250px;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    margin: 0;
    margin-top: 14px;
    margin-left: 14px;
    margin-bottom: 17px;
}

/* description styles */
.home-c .lower .description {
    margin-left: 14px;
    font-size: 13px;
    color: #b6b6b6;
    height: 30px;
}
.home-c .lower .description span:not(.category-icon) {
    margin-right: 10px;
    display: inline-block;
    height: 12px;
    width: auto;
    position: relative;
    bottom: 5px;
    margin-left: 5px;
}
.home-c .lower .description span:not(.category-icon):after {
    position: absolute;
    content: ' ';
    border-right: 1.1px solid #b6b6b6;
    height: 9.8px;
    margin-left: 5px;
    top: 2.5px;
}
.home-c .lower .description .m_squared:after {
    position: absolute;
    content: ' ';
    top: 5.5px !important;
}
.home-c .lower .description .three-dots:after {
    content: ' ';
    position: absolute;
    border: none !important;
}
.home-c .lower .description .category-icon {
    background: url('../../../imgs/category_1_green.svg');
    background-size: 18px 23px;
    width: 18px;
    height: 23px;
    display: inline-block;
}
/* price, location styles  */
.home-c .lower .price {
    font-size: 20px;
    font-weight: 500;
    margin-left: 14px;
}
.home-c .lower .location {
    line-height: 19px;
    font-size: 12px;
    color: #b6b6b6;
    margin-top: 14px;
    padding-left: 14px;
    padding-top: 19px;
    border-top: 1px solid #efefef;

    height: 20px;
    width: 100%;
}
.home-c .lower .location span {
    display: inline-block;
    width: 150px;
    height: 30px;
    line-height: 18px;
}
.home-c .lower .location i {
    margin-right: 5px;
    position: relative;
    bottom: 19px;
}
/*  --------- */

/* Homes styles */
.homes {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    height: auto;
    flex-wrap: wrap;
    margin-top: 68px;
}
.homes .home-c {
    margin: 14px;
    transition: .3s ease-in;
    
}
.homes .home-c:hover {
    -webkit-box-shadow: -2px 2px 21px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 4px 21px -1px rgba(0,0,0,0.75);
    box-shadow: -2px 4px 21px -1px rgba(0,0,0,0.75);
    cursor: pointer;
}

/* SelectButtons styles ++++++++++++ */
.select-buttons-c {
    text-transform: uppercase;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    
}
.select-buttons-c > div {
    height: 52px;
    width: 47.1%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .3s ease-in;
}
.select-buttons-c > div:hover {
    -webkit-box-shadow: -3px 11px 21px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 11px 21px -12px rgba(0,0,0,0.75);
    box-shadow: -3px 11px 21px -12px rgba(0,0,0,0.75);
    cursor: pointer;
}
.select-buttons-c .all-sale-announcements {
    background-color: #4caf50;
    color: #fff;
}
.select-buttons-c .all-rent-anouncements {
    background-color: #fff;
    color: #888;
}
/* ------------------------------------------ */


/* OtherAnnouncements and Announcement styles */
.other-announcements-c {
    position: relative;
    width: 100%;
    height: auto;
    position: relative;
    top: 50px;
}
.other-announcements-c .h-line {
    border-top: 1px solid #d9d9d9;
    width: 78%;
    height:0px;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    /* top: 483px; */
    top: -17px;
}
.other-announcements-c .wrapper {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 9px;
   
}
.other-announcements-c  .wrapper > h1 {
    font-size: 15px;
    margin-bottom: 20px;
    width: 97%;
    margin: auto;   
    margin-bottom: 10px;
}
.other-announcements-c  .wrapper > div {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.announcement-c {
    width: 210px;
    height: 270px;
    background-color: #fff;
    margin: 10px 5px;    
}
.announcement-c:hover {
    -webkit-box-shadow: -2px 2px 21px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 4px 21px -1px rgba(0,0,0,0.75);
    box-shadow: -2px 4px 21px -1px rgba(0,0,0,0.75);
    cursor: pointer;
}
.announcement-c .upper {
    position: relative;
    height: 157px;
    width: 100%;
    background: url('../../../imgs/adopta-un-prieten-fidel.jpg');
    background-size: contain;
}

.announcement-c .price-start {
    position: absolute;
    bottom: -14px;
    left: 48%; 
    font-size: 15px;
    background: #009687;
    color: #fff;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 28px;

    -webkit-box-shadow: -7px 11px 21px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 11px 21px -12px rgba(0,0,0,0.75);
    box-shadow: -7px 11px 21px -12px rgba(0,0,0,0.75);
}
.announcement-c .lower {
    height: auto;
    width: 100%;
}
.announcement-c .lower h1 {
    font-size: 16px;
    width: 80%;
    margin: auto;
    margin-top: 19px;
}
.announcement-c .lower p {
    color: #999;
    font-size: 12px;
    width: 80%;
    margin: auto;
    margin-top: 46px;
}


/* CategoryList styles ++++++++++++++++++++++++++++++++++++++++++++++++ */
.category-list-c {
    position: relative;
    top: 100px;
    width: 100%;
    /* width: 100vw; */
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: #727272;
}

/* columns row -------------------------- */
.category-list-c .columns {
    /* width: 78%; */
    width: 77vw;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
}
.category-list-c .columns  h1 {
    font-size: 14px;
    color: #000;
    margin-bottom: 8px;
}
.category-list-c .columns ul li {
    font-size: 12px;
    list-style: none;
    line-height: 25px;
}
.category-list-c .columns ul li:hover {
    color: #000;
    cursor: pointer;
}
.category-list-c .columns .categories div {
    /* width: 440px; */
    width: 29.48vw;
    display: flex;
}
.category-list-c .columns .categories div ul:nth-child(1) {
    margin-right: 40px;
}
.category-list-c .main-districts {
    margin-left: 20px;
} 
.category-list-c .columns .main-districts div {
    display: flex;
    /* width: 340px; */
    width: 25.4vw;
}
.category-list-c .columns .main-districts div ul:nth-child(1) {
    /* margin-right: 180px; */
    margin-right: 13.4vw;
}
.category-list-c .ads-of-iterest {
    width: 140px;
    /* width: 10.5vw; */
    /* margin-left: 170px; */
    margin-left: 12.65vw;
}

/* text row ------------------------------- */
.category-list-c .text {
    width: 78%;
    
    margin: auto;
    font-size: 12px;
    line-height: 20px;
}
.category-list-c .text a {
    text-decoration: none;
    font-weight: 500;
    margin-left: 2px;
    color: #000;
}

/* cta row -------------------------------- */
.category-list-c .cta-add-a {
    border-top: 1px solid #b6b6b6;
    width: 78%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
    color: #212121
}
.category-list-c .cta-add-a p > span {
    display: inline-block;
    margin-left: 19px;
    margin-top: 3px;
}
.category-list-c .cta-add-a p span button {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    border: 1px solid black;
    width: 170px;
    height: 37px;
    background-color: #F25C5C;
    border-radius: 50px;
    outline: none;
    border: none;
    transition: background-color .2s ease-in-out, box-shadow .3s ease-in-out;
    cursor: pointer;
}
.category-list-c .cta-add-a p span button:hover {
    background-color: #F25050;
    -webkit-box-shadow: 0px 2px 19px 4px rgba(33, 37, 33, 0.7);
    -moz-box-shadow: 0px 2px 19px 4px rgba(33, 37, 33, 0.7);
    box-shadow: 0px 2px 19px -6.4px rgba(33, 37, 33, 0.7);
}
.category-list-c .cta-add-a p span button span:nth-child(1) {
    width: 46px;
    display: inline-block;
    font-size: 25px;
    margin-bottom: 3px;
}


/* Partners component styles */
.partners-c {
    position: relative;
    top: 180px;
    width: 100%;
    height: 237px;
    background-color: #fff;
    border-top: 1px solid #d9d9d9;
    padding-top: 50px;
    overflow: hidden;

}
.partners-c .main-wrapper {
    width: 78%;
    margin: auto;
    height: 237px;
    margin-bottom: 100px;
    background-color: #fff;

}
.partners-c .main-wrapper > h1 {
    font-size: 20px;
    font-weight: normal;
    color: #727272;
    text-align: center;
}
.partners-c .main-wrapper > h1 span {
    font-weight: bold;
    color: #000;
    margin-right: 5px;
}
.partners-c .main-wrapper > h1 a {
    text-decoration: none;
    color: #4caf50;
    margin-left: 5px;
}
.partners-c .main-wrapper .wrapper {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    position: relative;
}
.partners-c .main-wrapper .wrapper div:nth-child(1) {
    position: absolute;
    width: 300px;
}
.partners-c .main-wrapper .wrapper div:nth-child(2) {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 179px;
}
.partners-c .main-wrapper .wrapper div:nth-child(3) {
    position: absolute;
    right: 0%;
    width: auto;
}
.partners-c .main-wrapper  .slider-dots {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners-c .main-wrapper .slider-dots span {
    background-color: #d9d9d9;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}
.partners-c .main-wrapper .slider-dots .selected {
    background-color: #4caf50;
}
/* ---------------------------------- */


/* VideAd componet styles */
.videoAd-c {
    width: 100%;
    background-color: #000000;
    height: 305px;
    position: relative;
    top: 181px;
    display: flex;
    justify-content: space-around;
    
}
.videoAd-c .h-line {
    position: absolute;
    top: 62px;
    width: 76.5%;
    height: 1px;
    background-color: #333;
}
.videoAd-c .wrapper{
    position: absolute;
    /* top: 400px; */
    width: 80%;
    margin: auto;
    height: 297px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.videoAd-c .wrapper > div {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.videoAd-c .wrapper > div > div:nth-child(1) {
    color: #fff;
    width: 85%;
    height: 68px;
    text-align: start;
    margin-top: 34px;
}
.videoAd-c .wrapper > div > div:nth-child(1) img {
    margin-right: 10px;
}
.videoAd-c .wrapper > div > div:nth-child(2) {
        height: auto;
        width: auto;
        margin-top: -14px;
}
.videoAd-c .wrapper > div > div:nth-child(2) img {
    width: 100%;
}
.videoAd-c .wrapper .section3 > div:nth-child(2) {
    position: relative;
    cursor: pointer;

}
.videoAd-c .wrapper .section3 > div:nth-child(2) > .play-btn {
    position: absolute;
    border: 2px solid #fff !important;
    width: 76px;
    height: 76px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: .3s ease-in;
    left: 0;
    right: 0;
    margin: auto;
    top: 37px;
}
.videoAd-c .wrapper .section3 > div:nth-child(2):hover > .play-btn {
    background-color: rgba(0,0,0,0.6);
}
.videoAd-c .wrapper .section3 > div:nth-child(2) > .play-btn span {
    width: 0;
    height: 0;
   margin-top: 19px;
   margin-left: 28px;
   border-top: 20px solid transparent;
   border-bottom: 20px solid transparent;
   border-left: 28px solid #fff;
   display: inline-block;
}
.full-text {
    display: none;
}
.tv-icon {
    display: none;
}
/* slide up btn styles */
.slide-up-btn {
    display: none;
    width: 68px;
    height: 68px;
    border-radius: 100%;
    background-color: #767370;
    opacity: 0.9;
    cursor: pointer;
    transition: .3s ease-out;
    position: fixed;
    right: 1.8vw;
    top: 87vh;
    z-index: 10;
}
.slide-up-btn:hover {opacity: 1;}

.slide-up-btn i {
    position: absolute;
    top: 28px;
    left: 26px;
    color: #fff;
    font-size: 14px;
}

@media screen and (max-width: 1462px) {

    .videoAd-c .wrapper {
        width: 79.1vw;
    }
    .videoAd-c .wrapper > div {
        width: 30%;
    }
    .videoAd-c .wrapper > div > div:nth-child(1) {
        color: #fff;
        width: 90%;
        font-size: 14px;
        z-index: 2;
    }

}

@media screen and (max-width: 1396px) {
    .category-list-c .ads-of-iterest {
        width: 140px !important;
        margin-left: 170px;
        margin-left: 12.65vw;
    }
    .category-list-c .ads-of-iterest > ul {
        width: 110px;
    }
    .category-list-c .columns .categories div {
        width: 420px;
    }
    .category-list-c .main-districts {
        margin-left: 20px;
    } 
    .category-list-c .columns .main-districts div {
        display: flex;
        width: 25.4vw;
    }
    .category-list-c .columns .main-districts div ul li {
        width: 80px;
    }
    .category-list-c .columns .main-districts div ul:nth-child(1) {
        margin-right: 13.4vw;
    }
    .category-list-c .ads-of-iterest {
        width: 130px;
        margin-left: 170px;
        margin-left: 12vw;
    }
}

@media screen and (max-width: 1232px) {
    .videoAd-c .wrapper{
        width: 79.1vw;
    }
    .videoAd-c .wrapper > div {
        width: 30%;
    }
    .videoAd-c .wrapper  .section1,
    .videoAd-c .wrapper  .section2 {
        display: none;
    }
    .videoAd-c .wrapper .section3 {
        width: 77vw;
        display: flex;
        align-items: center;
        margin: auto;
    }
    .videoAd-c .wrapper .section3  span:nth-child(1) {
        display: none;
    }

    .videoAd-c .wrapper .section3 .full-text {
        display: block;
        width: 80%;
        margin: auto;
        margin-left: 5%;
        text-align: center;
    }
    .videoAd-c .h-line {
        display: none;
    }
}

@media screen and (max-width: 1133px) {
    .category-list-c .ads-of-iterest {
        margin-left: 3vw;
    }
    .category-list-c .columns .main-districts div ul:nth-child(1) {
        margin-right: 5vw;
    }
}
@media screen and (max-width: 1122px) {

    .category-list-c .ads-of-iterest {
        margin-left: -6vw;
    }
    .category-list-c .columns .main-districts div ul:nth-child(1) {
        margin-right: 1vw;
    }
   
    .category-list-c .columns .categories div ul:nth-child(1) {
        margin-right: 10px;
    }
}
@media screen and (max-width: 1070px) {
    .partners-c .main-wrapper {
    width: 810px;
}

}
@media screen and (max-width: 946px) {
    .videoAd-c .wrapper .section3 .tv-icon {
        display: inline-block;
    }
    .videoAd-c .wrapper .section3 .full-text {
        display: inline-block;
        width: 65vw;
        width: 95%;
    }
}

@media screen and (max-width: 850px) {
    .category-list-c .main-districts {
        margin-left: -13px;
    }
    .category-list-c .columns {
        width: 75vw;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
    }
    .category-list-c .columns > div {
        margin-bottom: 10px;
    }
    .category-list-c .columns .categories {
        margin-left:7vw;
    }
    .category-list-c .columns .categories div ul:nth-child(2) {
        margin-left: 22.9vw;
    }
    .category-list-c .columns .categories div ul li {
        width: 200px;
    }
    .category-list-c .ads-of-iterest {
        margin-left: 24.01vw;;
    }
    .category-list-c .main-districts {
        margin-left: 7vw;
        width: 202px;
    }

    .partners-c .main-wrapper {
        /* border: 1px solid red; */
        width: 96vw;
    }
    .partners-c .main-wrapper .wrapper {
        justify-content: space-evenly;
        width:97vw;
    }
    .partners-c .main-wrapper > h1 {
        font-size: 2.395vw;
        width: 97vw;    
    }
   
    .partners-c .main-wrapper .wrapper div:nth-child(1) {
        position: relative;
        width: 35.9vw;
    }
    .partners-c .main-wrapper .wrapper div:nth-child(1) img {
        width: 29.6vw;
    }
    .partners-c .main-wrapper .wrapper div:nth-child(2) {
        width: 21.5vw;
        position: relative;
        left: -4vw;
    }
    .partners-c .main-wrapper .wrapper div:nth-child(2) img {
        width: 23vw;
    }
    .partners-c .main-wrapper .wrapper div:nth-child(3) {
        position: relative;
        /* right: 4vw; */
    }
    .partners-c .main-wrapper .wrapper div:nth-child(3) img {
        width: 34.3vw;
    }

    .partners-c .main-wrapper  .slider-dots {
        width: 97vw;
    }
    .partners-c .main-wrapper .slider-dots span {
        width: 12px;
        height: 12px;
    }
}
@media screen and (max-width: 785px) {
    .category-list-c .columns {
        width: 610px;
        margin-bottom: 30px;
        display: flex;

        flex-wrap: wrap;
    }
}
@media screen and (max-width: 766px) {
    .select-buttons-c > div {
        font-size: 2.2vw;
        padding: 0 3px !important;
    }
}

@media screen and (max-width: 632px) {
   
    .category-list-c .columns {
        width: 300px;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
    }
    .category-list-c .ads-of-iterest {
        margin-left: 8vw;;
    }
    .category-list-c .main-districts {
        margin-left: 8vw;
        width: 202px;
    }
    .category-list-c .columns .categories {
        margin-left: 8vw;
    }
    .category-list-c .columns .categories div {
        display: flex;
        flex-wrap: wrap;
        width: 200px;
    }
    .category-list-c .columns .categories div ul:nth-child(2) {
        margin-left: 0vw;
    }

    .partners-c .main-wrapper > h1 {
        font-size: 16px;
        width: 96vw;

    }
}
