.newsletter-c {
    width: 30%;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: 65px;
}
.newsletter-c p {
    font-size: 15px;
    color: #fff;
    margin-right: 20px;
}
.newsletter-c > form {
    border: 1px solid #bdbdbd;
    height: 33px;
}
.newsletter-c  form label  {
    background: url('../../../imgs/email_icon_light_gray.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    width: 25px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 9px;
    margin-left: 10px;
}
.newsletter-c form input {
    background: transparent;
    outline: none;
    border: none;
    color: #bdbdbd;
    font-size: 13px;
}
.newsletter-c form button {
    background:#4caf50;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    width: 100px;
    height: 33px;
    border: none;
    outline: none;
    position: relative;
    bottom: 1px;
    left: .5px;
}


/* Sections component styles */
.sections-c {
    position: relative;
    
}
.sections-c .h-line {
    border-top: 1px solid #727272;
    width: 100%;
    height:0px;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 39px;
}
.sections-c .wrapper {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 300px !important;

}
.sections-c .wrapper >  div:nth-child(1) {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.sections-c .wrapper > div:nth-child(3) {
    color: #bdbdbd;
    margin-top: 22px;
    cursor: pointer;
}
.sections-c .wrapper > div:nth-child(3):hover {
    color: #fff;
}

.sections-c .wrapper .lists {
    margin-top: 40px;
    display: flex;
    width: 470px;
    height: auto;
    font-size: 14px;
}
.sections-c .wrapper .lists ul {
    list-style: none;
}
.sections-c .wrapper .lists ul:nth-child(1) {
    margin-right: 4px;
}
.sections-c .wrapper .lists ul li {
    line-height: 23px;
    color: #bdbdbd;
    cursor: pointer;
    width: 250px;
}
.sections-c .wrapper .lists ul li:hover {
    color: #fff;
}

/* Help component styles */
.help-c {
    width: 320px;
    height: 300px;
    margin-left: 6.7%;
    position: relative;
}
.help-c .h-line {
    border-top: 1px solid #727272;
    width: 70%;
    height:0px;
    margin: auto;
    left: 0;
    right: 30%;
    position: absolute;
    top: 39px;
    
}
.help-c .wrapper {
    width: 270px;
    height: 300px;
    display: flex;
    flex-direction: column;
    height: 300px !important;
}
.help-c .wrapper > div:nth-child(1) {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.help-c .wrapper ul {
    list-style: none;
    margin-top: 40px;
    font-size: 14px;
}
.help-c .wrapper ul li {
    color: #bdbdbd;
    width: 100%;
    height: 21.5px;
    cursor: pointer;
    line-height: 23px;
}
.help-c .wrapper ul li:hover {
    color: #fff;
}

/* About component styles  */
.about-c {
    position: relative;
    width: 250px;
    height: 300px;
    right: 3%;
}
.about-c .wrapper {
    width: 250px;
    height: 300px;
}
.about-c .h-line {
    border-top: 1px solid #727272;
    width: 70%;
    height:0px;
    margin: auto;
    left: 0;
    right: 30%;
    position: absolute;
    top: 39px;
}
.about-c > div {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 280px !important;
}
.about-c ul {
    list-style: none;
    margin-top: 40px;
}
.about-c ul li {
    color: #bdbdbd;
    font-size: 14px;
    line-height: 23px;
    width: 100%;
    height: 21.5px;
    cursor: pointer;
}
.about-c ul li:hover {
    color: #fff;
}

/* AppAccess component styles */
.appAccess-c {
    width: 250px;
    height: 300px;
    position: relative;
}
.appAccess-c .wrapper {
    width: 250px;
    height: 300px;
}
.appAccess-c .h-line {
    border-top: 1px solid #727272;
    width: 70%;
    height:0px;
    margin: auto;
    left: 0;
    right: 30%;
    position: absolute;
    top: 39px;
}
.appAccess-c > div {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 280px !important;
    
}
.appAccess-c ul {
    list-style: none;
    color: #bdbdbd;
    margin-top: 40px;
}
.appAccess-c ul li {
    line-height: 43px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.appAccess-c ul li:hover {
    color: #fff;
}
.appAccess-c ul li:nth-child(1) i {
    background-position: -2px 0px;
    background-image: url('../../../imgs//sprite_footer.png');
    background-repeat: no-repeat;
    height: 28px;
    width: 23px;
    float: left;
    margin-right: 19px;
}
.appAccess-c ul li:nth-child(2) i {
    background-position: -29px 0px;
    background-image: url('../../../imgs//sprite_footer.png');
    background-repeat: no-repeat;
    height: 28px;
    width: 23px;
    float: left;
    margin-right: 19px;
}

/* Follow component styles */
.follow-c {
    width: 90vw;
    height: 80px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    bottom: 46px;
    
}
.follow-c > div:nth-child(1) {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 90vw;
    text-align: center;
}
.follow-c ul {
    list-style: none;
    font-size: 14px;
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.follow-c ul li a {
    width: 23px;
    height: 23px;
    float: left;
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url('../../../imgs/sprite_footer.png');
    background-repeat: no-repeat;
    margin: 0 13px;
}
.follow-c ul li a:hover {
   opacity: 0.5;
} 
.follow-c ul li:nth-child(1) a {
    background-position: 1px -28px;
}
.follow-c ul li:nth-child(2) a {
    background-position: -87px -28px;
}
.follow-c ul li:nth-child(3) a {
    background-position: -131px -28px;
}
.follow-c ul li:nth-child(4) a {
    background-position: -175px -28px;
}
.follow-c ul li:nth-child(5) a {
    background-position: -219px -28px;
}
.follow-c ul li:nth-child(6) a {
    background-position: -263px -28px;
}

.follow-c > div:nth-child(3) {
    font-size: 14px;
    color: #bdbdbd;
    margin-top: 40px;
    width: 90vw;
    text-align: center;
}
.follow-c > div:nth-child(3) i {
    margin-right: 10px;
}

/* Footer component styles */
.footer-c {
    width: 100%;
    height: 673px;
    background-color: #212121;
    position: relative;
    top: 680.1px;
    overflow: hidden;

}
.footer-c .wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 658px;
}
.footer-c .wrapper .row {
    display: flex;
    width: 80%;
    height: 305px;
    margin: auto;
    position: relative;
    bottom: 93px;
}

.footer-c .h-line-upper {
    border-top: 1px solid #727272;
    width: 80%;
    height:0px;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 120px;
}
.footer-c .h-line-lower {
    border-top: 1px solid #727272;
    width: 80%;
    height:0px;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 483px;
}


@media screen and (max-width: 1530px) {
    .newsletter-c {
        width: 451px;    
    }
}

@media screen and (max-width: 1418px ) {
   /* Sections component styles */
.sections-c {
    display:  none;
}
.footer-c .wrapper .row {
    justify-content: space-evenly;
}
}
@media screen and (max-width: 865px) {
    .footer-c {
        /* border: 1px solid red; */
        top: 750px;
    }
}
@media screen and (max-width: 857px) {
    .footer-c {
        /* border: 1px solid red; */
        top: 1060px !important;
    }
}
@media screen and (max-width: 648px) {
    .footer-c {
        top: 1250px !important;
    }
}
@media screen and (max-width: 580px) {
    .footer-c {
        top: 1900px !important;
    }
}
@media screen and (max-width: 450px) {
    .footer-c {
        top: 2030px !important;
    }
}
@media screen and (max-width: 359px) {
    .footer-c {
        top: 2110px !important;
        width: 359px !important;
        overflow: hidden;
    }
}
@media screen and (max-width: 781px) {
    .footer-c {
        width: 100%;
        height: 1300px;
        background-color: #212121;
        position: relative;
        top: 680.1px;
    }
    .footer-c > .wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 1300px;
    }
    .footer-c .wrapper .row {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        height: 900px;
        bottom: 151px;
        width: 97vw;
    }
    
    /* Help component styles */
    .help-c {
        margin-left: 95px;
        width: 210px;
    }
    
    /* About component styles  */
    .about-c {
        right: 0;
        height: 250px;
        width: 210px;
        margin-left: 95px;

    }
    
    /* AppAccess component styles */
    .appAccess-c {
        height: 170px;
        width: 210px;
        margin-left: 95px;
    }

    .footer-c .h-line-upper {
        position: absolute;
        top: 134px;
    }
    .footer-c .h-line-lower {
        position: absolute;
        top: 1050px;
    }
}

@media screen and (max-width: 596px) {

    .newsletter-c {
        flex-direction: column;
        height: 80px;
        bottom: 0px;
        top: 35px;
        margin-bottom: 222px;
    }

    .newsletter-c p {
        position: relative;
        bottom: 10px;
        margin-right: 10px;
    }
    .help-c {
        margin-left: 53px;
    }
    
    /* About component styles  */
    .about-c {
        margin-left: 53px;
    }
    
    /* AppAccess component styles */
    .appAccess-c {
        margin-left: 53px;
    }
}
@media screen and (max-width: 470px) {
    .footer-c .h-line-upper {
        margin-top: 35px;
    }
    .newsletter-c {
        width: 280px;
    }
    .newsletter-c form {
        width: 200px;
        height: 30px;
    }
    .newsletter-c form input {
        width: 120px;
    }
    .newsletter-c form button {
        font-size: 12px;
        margin-top: 20px;
        margin-left: 28%;
        width: 85px !important;
    }
    .help-c {
        margin-left: 53px;
    }
   
    
    /* About component styles  */
    .about-c {
        margin-left: 53px;
    }
    
    /* AppAccess component styles */
    .appAccess-c {
        margin-left: 53px;
    }
}